<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <!--
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Instituto Tecnologico de Costa Rica</h4>
        <h4>Escuela de Ingenieria en Computacion</h4>
        <h4>IC6600 - Principios de Sistemas Operativos</h4>
      </div>
      <div fxFlex="55">
        <h4>Andres Miranda Arias - 2017075170</h4>
        <h4>Josue Canales ... - ...</h4>
        
      </div>
      -->
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    
  </div>
  <div>
      <p>© Copyright 2020</p>
  </div>
</div>