<mat-toolbar color="primary">
  IP:Port connection
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #ipform="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="IP:port" type="text" [(ngModel)]="datas.ipport" name="ip" required>
        <mat-error *ngIf="ip.errors?.required">IP is required</mat-error>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="ipform.form.invalid">update IP</button>
    </span>
  </mat-dialog-actions>
</form>
